[Unit]
Description = External HDD

[Mount]
What = LABEL=mnt-storage
Where = /mnt/storage
Type = exfat
Options = rw,relatime,data=ordered

[Install]
WantedBy = multi-user.target
