[Unit]
Description = External HDD

[Mount]
What = LABEL=mnt-sync
Where = /mnt/sync
Type = exfat
Options = rw,relatime,data=ordered

[Install]
WantedBy = multi-user.target
